.module{
	clear:none;
}
.block-quote {
	.card{
	position:relative;
//	display:inline-block;
		padding:100px;
		border-radius:10px;
		background-size: cover;
		background-position:  center;
		overflow:hidden;
	}
		.container-quote.container-fluid.container-lg{
			@media #{$bp-tab}{
				padding-left:15px !important;
				padding-right:15px !important;
			}
			@media #{$bp-mobile}{
				padding-left:30px !important;
				padding-right:30px !important;
			}
			@media #{$bp-desk-min}{
				max-width:1200px;
				padding-left:45px !important;
				padding-right:45px !important;
			}
			//overflow:visible;
			.row.slick-slider{
			//	overflow:visible;
			}
		}
		.img-overlay{
			position:absolute;
			right:0;
			top:0;
			width: 100%;
			height: 100%;
			display:inline-block;			
			.filter{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
    
			}
		}
		.nav-wrapper-wrapper{
			display:inline-block;
			width:100%;

			text-align:right;
			@media #{$bp-tab} {
				text-align:center;
			}
			height:30px;
			position:relative;
			margin-bottom:30px;
			.nav-wrapper{
				img{
					margin-right:50px;
					margin-left:50px;
				}
				text-align:center;
				@media #{$bp-tab} {
					float:none;
					display:inline-block;
				}
				.slick-prev,.slick-next{
				top:10px;
					display:inline-block;
					left:auto;
					right:auto;
					position:relative;
				}
				.slick-prev{
					&:before{
						content: url('/wp-content/themes/pilot/mason-modules/quote/img/Icon-Small-Arrow-Left.svg');
					}
				}
				.slick-next:before{
					content: url('/wp-content/themes/pilot/mason-modules/quote/img/Icon-Small-Arrow-Right.svg');
				}
			}
		}
		.shadow-quote{
			margin:0 auto;
			max-width:800px;
			.layout-content {
				line-height:normal;
				display:inline-block;
				width: 100%;
			}
			.quote-foot-content{
				display:inline-block;
				position:relative;
				width:100%;
				text-align:center;
				.title-wrap{
					display:inline-block;
					.content{
						p{
							font-size:24px;
							line-height:36px;
							color:$atc_purple;
						}
					}
					.img{
						margin-bottom:40px;
						display:inline-block;
					}
					.content{
						p{
						}
					}
					h5{
					word-wrap: break-word;
					}					
				}
			}

			.img-block-wrap.half-width {
				display: inline-block;
				width: 50%;
				position: relative;

				&:first-of-type {
					border-right: 1px solid #f5f5f5;
				}
				.bg-image {
					@quote only screen and (max-width: 1400px) {
						height: auto;
						padding-bottom: 100%;
					}
				}
			}
		}
}
.block-quote{
	@media #{$bp-desk} {
		.inner-container .shadow-container{
			max-width:600px !important;
		}
	}
	@media #{$bp-tab} {
		.card{
			padding:30px;
			padding-top:60px;
			padding-bottom:60px;
			.shadow-quote{
				.quote-foot-content{
					padding-left:0;
					padding-bottom:40px;
					.shadow-quote{

					}
				}
			}
		}
		.inner-container{
			.shadow-quote{
				max-width:400px !important;
				text-align:center;
				.title-wrap{
					text-align:center;
				}
			}
		}
	}
	.inner-container .shadow-quote{
		max-width:100% !important;
	}
	@media #{$bp-mobile} {
		.inner-container .shadow-quote{
			//m-width:285px !important;
		}
	}
	@media #{$bp-desk-min} {
		.card{
		}
	}
}