.block-generic_content {
	.col-lg-12{
	}
	.gc-wrap {
		vertical-align:top;
		width:100%;
		max-width:800px;
		display:inline-block;

		&.two{
			max-width:570px;
			width:calc(50% - 30px);
			&.second{
				float:right;
			}
		}
		&.three{
			max-width:360px;
			width:calc( (100%  - 120px) / 3);
			&.third{
				float:right;
			}
			&.second{
				margin-left:60px;
			}
		}

	}
	.gc-content{
		img:not(.svg){
			width:100%;
			margin-bottom:40px;
		}
		.svg-wrapper{
			width:100%;
			text-align:center;
			img.svg{
				display:inline-block;
				margin:0 auto;
				margin-bottom:40px;
			}
		}
	}
	@media #{$bp-tab} {
		>.layout-content{
			.container{
				.col-lg-12{
					text-align:center;
					.gc-content{
						text-align:left;
					}
				}
			}
		}		
	}
	@media #{$bp-tab} {
		.gc-wrap {
			vertical-align:top;
			width:100%;
			max-width:800px;
			display:inline-block;
			
			&.two{
				max-width:800px;
				width:100%;
				margin-bottom:40px;
				&.second{
					float:none;
					margin-bottom:0;
				}
			}
			&.three{
				max-width:800px;
				width:100%;
				margin-bottom:40px;
				&.second{
					margin-left:0 !important;
				}	
				&.third{
					float:none;
					margin-bottom:0;
				}			
			}

		}
	}
	@media #{$bp-tab-sm-min} {
		>.layout-content{
			.container{
				width:100%;
				max-width:660px;
			}
		}
	}
	@media #{$bp-tab-min} {
		>.layout-content{
			.container{
				width:100%;
				max-width:1260px;
			}
		}
	}

}