.block-accordion {
    background-color:$atc_white;
    .layout-content{
    }

    .accordion-wrapper {
        .accordion {
            max-width:800px;
            margin-top: 0;
            .last-child{
                border-bottom: 1px solid $atc_lightGray;
            }

            dt {
                border-top: 1px solid $atc_lightGray;
                h6{
                    margin-top:30px;
                }
                .acc-tog{
                    cursor:pointer;
                    margin-top:30px;
                    height:20px;
                    width:20px;
                    line-height:20px;
                    position: relative;
                    float:right;
                    margin-right:25px
                }
                .vertical {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(-90deg);
                }

                .horizontal {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(-90deg);
                    opacity: 1;
                }
                .horizontal {
                    position: absolute;
                    background-color: $atc_lightBlue;
                    width: 20px;
                    height: 2px;
                    left: 50%;
                    margin-left: -10px;
                    top: 50%;
                    margin-top: -1px;
                }
                .vertical {
                    position: absolute;
                    background-color: $atc_lightBlue;
                    width: 2px;
                    height: 20px;
                    left: 50%;
                    margin-left: -1px;
                    top: 50%;
                    margin-top: -10px;
                }
                &.active{
                    opacity: 1;
                    .vertical {
                        transition: all 0.5s ease-in-out;
                        transform: rotate(90deg);
                    }
                    .horizontal {
                        transition: all 0.5s ease-in-out;
                        transform: rotate(90deg);
                        opacity: 0;
                    }
                }
            }

            dd {
                margin: 0;
                padding-left: 0px;
                padding-right: 0px;
                .content{
                    p{

                    }
                }        
            }
        }
    }
    @media #{$bp-tab} {
        .container{
            width:100%;
            max-width:660px;
        }
    }
    @media #{$bp-tab-min} {
        .container{
            width:100%;
            max-width:1260px;
          //  width:800px;
            //text-align:left;
        }

        .accordion-wrapper {
        }
    }
    @media #{$bp-mobile} {
        padding-top:60px;
        padding-bottom:60px;
        .accordion-wrapper {
        }
    }
}

