.atc-button {
	background-color: transparent;
	border-radius: 20px;
	border:2px solid $atc_purple;
	display:inline-block;
	cursor:pointer;
	color: $atc_purple;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding:10px 20px;
	text-decoration:none;
}
.voidatc-button.dark-bg.void{
	//background-color: transparent;
	border-radius: 20px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding:10px 20px;
	text-decoration:none;
}
.voidatc-button.dark-bg:hover {
	background-color: #ffffff;
	color: $atc_purple;
}
.voidatc-button.dark-bg:active {
	position:relative;
	top:1px;
}
