$logo_time: .75s;
$sec_logo_time: .5s;
.block-navigation {
	overflow:visible;
	.alert-wrapper{
		background-color:$atc_primary;
		border-bottom:solid 1px white;
		.container{
			@media #{$bp-tab-min}{
				width:100%;
				max-width:1260px;
				padding-right:30px;
				padding-left:30px;
				max-width:1260px;
			}

			.alert-text{
				padding-top:20px;
				padding-bottom:20px;		
				float:left;
				font-family:'sans_bold';
				font-size:16px;
				line-height:24px;
				color:$atc_white;
				width:calc(100% - 40px);
			}
			.alert-link{
				float:right;
				padding-top:20px;
				padding-bottom:20px;		
				margin-left:20px;
				a{

				}
			}
			@media #{$bp-tab}{
				padding-left:30px;
				padding-right:30px;		
				.alert-text{
					width:100%;
					float:none;
					display:block;
				}
				.alert-link{
					float:left;
					margin-left:0;
					padding-top:0;
				}
			}
		}
	}
	.logo-wrapper{
		//width:100%;
		text-align:left;
		a,img{
			display:inline-block;
		}
		.logo-location{
			height:40px;
			display:inline-block;
			border-left:solid 1px $atc_lightGray;
			vertical-align:top;
			margin-top:5px;
			padding-left:20px;
			margin-left:20px;
				a,a:hover{
					text-decoration:none;
				}
				span{
					font-family:'sans_bold';
					font-size:18px;
					line-height:40px;
					margin:0;
					color:$atc_purple;
					font-weight:900;
				}
		}
	}
	.responsive-navigation{
		display:none;
		-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
		position:relative;
		z-index:100;
		.row{
			height:40px;
			.phone{
				float:left;
				margin-left:20px;	
				height:100%;
				a{
					line-height:40px;
					text-decoration:none;
				}
			}
		}
		.mobile-button-wrapper{
			float:right;
			//width:110px;
			line-height:40px;
			color:$atc_white;
			padding-left:20px;
			padding-right:20px;
			background-color:$atc_primary;
			font-size:12px;
			font-family:"sans_bold";
			cursor:pointer;
			img{
				margin-left:12px;
				margin-top:-2px;
			}
		}
	}
	.navigation{
		background-color:$atc_white;
		z-index:100;
		width:100%;
		text-align:center;
		margin-bottom:0;
		margin-top:0;
		#mobile-nav-wrapper{
			display:none;
			.mobile-nav{
			}
		}
		
		> .container.container-lg{
			@media #{$bp-tab-min}{
				width:100%;
				padding-right:30px;
				padding-left:30px;
				max-width:1260px;
			}
			@media (min-width: 1259px){
				.col-lg-3{
					width:30%;
				}
				.col-lg-9{
					width:70%;
				}
			}
			.mobile-nav{
				padding-top:63px;
				padding-bottom:63px;
				transition: padding $logo_time ease;
				display:none;
				float:right;
				padding-right:15px;
				margin-right:10px;
				.menu-button{
					.menu-close{
						display:none;
					}
					.menu-open{
						cursor:pointer;
						display: inline-block;     
					   position: relative;    
					   z-index: 9999;     
					   padding: 2em;     
					   margin: -2em; 
					}
					.menu-up{
						display:none;
					}
				}
			}
			.logo-wrapper{
				line-height:0;
				display:inline-block;
				a{
					display:inline-block;
					position: relative;    
					z-index: 99999;     
					img{
						max-width:335px;
						max-height:50px;
					}					
				}
				float:left;

				padding-top:25px;
				padding-bottom:25px;
				.logo,.secondary-logo{
					display:block;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: 1000;					
				}

				.secondary-logo-wrapper{
					display:none;
					height:38px;
					margin-top:6px;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: 1000;					
					overflow:hidden;					
					transition: height $sec_logo_time ease, margin-top $sec_logo_time ease;					
				}
			}
			.mobile-menu{
				.primary-nav{
					height:0;
					transition-property: height;
					transition-duration: .5s;
					overflow:hidden;
					list-style:none;
					margin-block-start: 0;
				    margin-block-end: 0;
				    margin-inline-start: 0px;
				    margin-inline-end: 0px;
				    padding-inline-start: 0px;	
				}
			}
			.main-nav{
				float:right;
				ul.primary-nav{
					list-style:none;
					margin-block-start: 0;
				    margin-block-end: 0;
				    margin-inline-start: 0px;
				    margin-inline-end: 0px;
				    padding-inline-start: 0px;	
					padding-top:25px;
					padding-bottom:25px;
					 display: flex;
					>li{
						//background-color:purple;
						height:50px;
						line-height:50px;
						padding-right:15px;
						padding-left:15px;
					    position: relative;
					    display: inline-block;
						&.menu-item-has-children{
							padding-right:44px;
							&::after{
								position:absolute;
								top:22px;
								right:20px;
								color:white;
								content: "";
								width:14px;
								height:8px;
								background: transparent url('../../mason-modules/navigation/images/Icon-Small-Arrow-Down-BLUE.svg') no-repeat;
							}
							&:hover::after{
//								background: transparent url('../../mason-modules/navigation/images/Icon-Small-Arrow-Down-BLUE.svg')						
							}
						}
						&.menu-item-has-children.alert{
							&::after{
//								background: transparent url('../../mason-modules/navigation/images/Icon-Small-Arrow-Down-BLUE-alert.svg') no-repeat;
							}
							&:hover::after{
//								background: transparent url('../../mason-modules/navigation/images/Icon-Small-Arrow-Down-BLUE-alert.svg')						
							}
						}


						&:first-child{
							margin-left:0;
						}
						a, .sub-nav a, a:active,a:visited,.sub-nav a:active,.sub-nav a:visited{
							font-family:'sans_bold';
							font-size:16px;
							color:$atc_purple;
							//text-transform:uppercase;
							text-decoration:none !important;
							display:inline-block;
							&:hover{
								color:$atc_white;
								text-decoration:none;
							}					
						}
						.sub-nav{
							width:375px;;
							border-top:solid 1px $atc_gray;
							background-color:$atc_purple;
							z-index:9999;
							padding:20px;
							list-style:none;
							display:none;
							text-align:left;
							position: absolute;
							top: 50px;
							right: 0px;	
							li{
								text-align:left;
								margin:0 !important;
								float:none !important;
								padding:0 !important;
								//display:inline-block;
								//width:100%;
								width:375px;
								line-height:30px;
								border-bottom:0;							
								&:hover{
								}
								a, .sub-nav a, a:active,a:visited,.sub-nav a:active,.sub-nav a:visited{
									font-family:'sans';
									font-size:14px;
									line-height:22px;
									font-family:'sans';
									text-decoration:none !important;
									color:$atc_white;
									width: 100%; height: 100%;
									padding:20px;
									&:hover{
										//text-decoration:underline !important;
										font-weight:normal;
									}
									&:active{
										font-weight:normal;
									}
								}
								&.main-link{
									a{
										font-size:16px;
										font-family:'sans';
										text-decoration:none !important;
									}
								}							
							}
						}
						&:hover{
							background-color:$atc_purple;
							a{
								color:$atc_white;
							}
							.sub-nav{
								display:inline-block;
							}
						}

					}
				}
			}
		}
	}
	.sub-navigation{
		display:block;
		background-color:$atc_purple;
		height:60px;
		width:100%;
		padding-top:16px;
		padding-bottom:20px;
	//	text-align:center;
		ul{
			height:20px;
    		@include ulReset
    		display:inline-block;
			li{
				display:inline-block;
				text-align: center;
				margin-right:40px;
				height:20px;
				&:last-child{
					margin-right:0;
				}
				a{
					line-height:20px;
					text-transform:uppercase;
					color:$atc_white;
				}
				a:hover{
					color:$atc_white !important;
					text-decoration:underline !important;
				}
			}
		}
		color:$atc_white;
		@media #{$bp-mobile}{
			display:none;
		}
		@media #{$bp-tab}{
			padding-left:30px;
			padding-right:30px;
		}

	}
	&.open-mobile{
		.logo-wrapper{
			//display:none;
		}
	}

	@media #{$bp-tab}{
			.responsive-navigation{
				display:block;
			}
			.main-nav{
				display:none;
			}

		.navigation{
			.container{

				.logo-wrapper{
					//padding-left:15px;
					.logo,.secondary-logo{
						display:block;
					}
				}
				.mobile-nav-wrapper{
					.mobile-nav{
						display:inline-block;
					}
				}
				.main-nav{
					display:none;
				}
			}
		}
	}
	.mobile-navigation{
		height:0;
		overflow:hidden;
		z-index:99999999;
		width:100%;
		text-align:center;
		margin-bottom:0;
		margin-top:0;
		background-color:$atc_white;
		position:absolute;
		top:0;
		left:0;
		height:0;
				scroll-snap-type:none;
				scroll-snap-stop:normal;
				-webkit-overflow-scrolling: touch;

//		transition-property: height;
//		transition-duration: 1s;		
			.container-fluid{
				width:100% !important;
				@media #{$bp-mobile}{
					padding-left:15px;
					padding-right:15px;
				}
				.primary-nav{
					text-align:left;
					display:inline-block !important;
					margin-top:55px;
					width:100%;
					.primary-nav{
						overflow:hidden;
						display:inline-block;
						.menu-item-wrapper{
							text-align:left;
						}
					}
					.menu-close-wrapper{
						display:block;
					}

				}

			}

	}
	.mobile-menu{
		height:0;
		transition-property: height;
		transition-duration: .5s;
	}
	&.open-mobile{
			@media #{$bp-tab}{
				height:calc(100vh + 10px);
			}
			@media #{$bp-mobile}{
				height:1200px;
			}
				scroll-snap-type:none;
				scroll-snap-stop:normal;
				-webkit-overflow-scrolling: touch;

		.mobile-navigation{
				z-index:99999999;
				scroll-snap-type:none;
				scroll-snap-stop:normal;
				-webkit-overflow-scrolling: touch;

			@media #{$bp-tab}{
				height:calc(100vh + 10px);
			}
			@media #{$bp-mobile}{
//				height:1200px;
			}
			transition-property: height;
			transition-duration: .5s;		
			.mobile-menu{

				overflow:scroll;
				scroll-snap-type:none;
				scroll-snap-stop:normal;
				-webkit-overflow-scrolling: touch;
				@media #{$bp-tab}{
					height:calc(100vh + 10px);
				}
				@media #{$bp-mobile}{
					height:1200px;
				}
				transition-property: height;
				transition-duration: .5s;
				.mobile-and-footer{
					text-align:left;
					padding-left:15px;
				}
			}
		}
		#mobile-nav-wrapper-close{
			width:100%;
			.mobile-nav-close{
				float:none;
				text-align:center;
				padding-right:0;
				margin-right:0;
				.menu-button-close{
					margin-top:56px;
					.menu-close{
   position: relative;    
   z-index: 1;     
   padding: 2em;     
   margin: -2em; 
						cursor:pointer;
						display:inline-block !important;
					}
				}
			}
		}
	}
}

body.open-mobile{
	//overflow:hidden;
	padding-bottom:0 !important;
	padding-top:0 !important;
	.site-content,.site-footer{
		display:none;
	}
}
body.menu-scroll{
	.menu-open{
		display:none !important;     
	}
	.menu-up{
		display: inline-block !important;     
	}
	.footer-content{
		margin-top:-70px;
	}
}