.site-footer{
	background-color:$atc_white;	
}
.block-footer {
	div{
		position:relative;
		.footer-content{
			width:100%;
			.logo{
				margin-bottom:50px;
			}
			.left_container{
				width:50%;
				float:left;
				#main_nav_footer_container{
					display:inline-block;
					width:calc(50%  -  60px);
					max-width:270px;
					.mobile-navigation{
						.mobile-menu{
							div{
								width:100%;
								display:inline-block;

								.menu-item-wrapper{
									margin-bottom:30px;
									line-height:0;
									a{
										line-height:normal;
										text-decoration:none;
										font-family:'sans_bold';
									}
									&.active{

									}
									.sub-nav{
										li{
											a{
												font-family:'sans';
											}
										}
										list-style-type:none;
										margin-left:0 !important;
										padding-left:0 !important;

									}
								}
							}
						}
					}
				}
				#other_links{
					vertical-align:top;
					margin-left:30px;
					max-width:270px;
					width:calc(50%  -  60px);
					display:inline-block;
					ul{
						list-style-type:none;
						margin-left:0 !important;
						padding-left:0 !important;
						li{
							margin-bottom:30px;
							a{
								text-decoration:none;
								font-family:'sans_bold';

							}
						}
					}
				}
			}
			.right_container{
				width:50%;
				float:right;
				.content-container{
					vertical-align:top;
				}
				.social-container{
					text-align:right;
					a{
						margin-left:20px;
					}
				}
				.badges-container{
					text-align:right;
				}
			}
			.copyright-container{
				margin-top:45px;
			}
			hr{
				margin-top:60px;
				margin-bottom:60px;
			}
		}
	}
	.copyright-container-mobile{
		display:none;
	}
	.badges-container{
		a{
			margin-left:25px;
		}
	}

	@media #{$bp-desk}{
		.left_container,.right_container{
			width:100% !important;
			#main_nav_footer_container,#other_links{
				width:100% !important;
				display:block !important;
				margin-left:0 !important;
				.menu-item-wrapper{
//					margin-left:-15px;
				}
			}
		}
			.badges-container{
				float:left;
				margin-top:60px;
				text-align:left !important;
				a{
					text-align:left;
					margin-left:0;
					margin-right:25px;
					img{
						margin-bottom:20px;
					}
				}
			}
			.copyright-container-mobile{
				display:inline-block;
			}
			.copyright-container{
				display:none;
			}
	}
}
.mobile-navigation{
	.mobile-menu{
		width:100%;
		display:inline-block;
		padding-left:0;
		padding-right:0;
		.container-md{
			@media #{$bp-tab} {
				padding-left:0;
				padding-right:0;
			}
			@media #{$bp-mobile} {
				padding-left:0px;
				padding-right:0px;
			}
		}
		.primary-nav .sub-nav{
			@include ulReset
		}
		.primary-nav, .mobile-and-footer{
			>.menu-item-wrapper{
				display:block;
				float:left;
				@media #{$bp-desk}{
					&:nth-child(odd) {
						clear:left;
					}
				}
				@media #{$bp-tab}{
				}
				.rule{
					border-top:solid 1px $atc_lightGray;
					margin-bottom:20px;
				}
				>a{
					font-family:'bas_bold';
					font-size:16px;
					color:$atc_blue;
					text-transform:uppercase;
				}
				.sub-nav{
					margin-top:15px;
					margin-bottom:25px;
					li{
						display:block;
						a{
							font-family:'bas_regular';
							font-size:14px;
							color:$atc_blue;
							text-transform:uppercase;
							line-height:40px;
						}
					}
				}
			}
		}
	}
}
