h1, h2, h3, h4, h5, h6 {
	color: $atc_darkGray; 
}

/* Text Links */
a:link, a:visited,a:hover, a:active{
  color: $atc_lightBlue;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@include blue-button

.module{
	.generic,.caption{
		ul{
			li{
				&::before {
					color: $atc_lightBlue;
				}
			}       
		}
	}
}		
.alert-style{
	.block-navigation{
		.logo-wrapper{
			.logo-location{
				span{
					color:$atc_lightBlue;
				}
			}
		}
		.navigation{
			>.container.container-lg{
				.main-nav{
					.primary-nav{
						>li{
							>a, >a:visited{
								color:$atc_darkGray;
							}
							&:hover{
								background-color:$atc_darkGray;
								>a,>a:visited{
									color:$atc_white;
								}
							}
							.sub-nav{
								background-color:$atc_darkGray;							
							}
						}
					}
				}
			}
		}
	}
	#optional-header{
		background-color:$atc_lightBlue;
	}
	.block-altnav{
		.altnav{
			border-top:solid 1px $atc_white;
			background-color:$atc_lightBlue;
			>.container{
				.main-nav{
					ul.primary-nav{
						>li:hover:not(.overflow-dots){
							background-color:$atc_lightBlue;
						}
					}
				}
			}
		}

	}
}