h1, h2, h3, h4, h5, h6 {
	color: $atc_purple; 
}

/* Text Links */
a:link {
  color: $atc_purple;
}

a:visited {
  color: $atc_purple;
}

a:hover {
  color: $atc_purple;
}

a:active {
  color: $atc_purple;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@include purple-button

.module{
	.generic,.caption{
		ul{
			li{
				&::before {
					color: $atc_lightBlue;
				}
			}       
		}
	}
}		