
.module {
  clear: both;
}

// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
	margin: 0 0 $element-spacing 0;
}
.container{
	//background-color:yellow;
}
@media #{$bp-tab-sm-min} {
	.container{
	
		//padding-left:30px;
		//padding-right:30px;
	}   
}
body{
	line-height:0;
}

#optional-header{
	height:300px;
	background-color:$atc_purple;
	position:relative;
	.container{
		height:100%;
		.row{
			position:absolute;
			bottom:0;
			h1{
				color:$atc_white;
			}
		}
	}
	@media #{$bp-tab-sm-min} {
		.container{
			width:100%;
			max-width:660px;
		}
	}
	@media #{$bp-tab-min} {
		.container{
			width:100%;
			max-width:1260px;
		}
	}


}
html {  }
body {
	color: #333333;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 30px;
}
h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 72px;
	font-family:'sans_light';
	i,em{

		font-family:'sans_lightitalic';
	}
}

h2 {
	font-weight: 300;
	font-size: 48px;
	line-height: 60px;
	font-family:'sans_light';
	i,em{

		font-family:'sans_lightitalic';
	}
}

h3 {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
}

h4 {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
}

h5 {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}

h6 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
	font-family:'sans';
	b,strong{
		font-weight:700;
		font-family:'sans_bold';
	}   
}
p {
	font-family:'sans';
	color: #333333;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 30px;
}

/* Smaller than Desktop */
@media (max-width: 859px) {
  h1 { font-size: 48px; line-height: 60px; }
  h2 { font-size: 36px; line-height: 48px; }
}

/* Text Links */
a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a.atc-button {
	border-radius: 20px;
	display:inline-block;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding:10px 20px;
	text-decoration:none;
}
a.atc-button:hover {
}

a.atc-button:active {
	position:relative;
	top:1px;
}
a.atc-button.inactive {
	cursor:default;
}

/* for dark background */
.atc-button.dark-bg{
	border-radius: 20px;
	display:inline-block;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding:10px 20px;
	text-decoration:none;
}
.atc-button.dark-bg:hover {
}
.atc-button.dark-bg:active {
	position:relative;
	top:1px;
}
@mixin purple-button {
	a.atc-button {
		background-color: transparent;
		border:2px solid $atc_purple;
		color: $atc_purple;
	}
	a.atc-button:hover {
		background-color: $atc_purple;
		color: #ffffff;
	}

	a.atc-button:active {
	}
	a.atc-button.inactive {
		background-color: $atc_purple;
		color: #ffffff;
	}

	/* for dark background */
	.atc-button.dark-bg{
		background-color: transparent;
		border:2px solid #ffffff;
		color: #ffffff;
	}
	.atc-button.dark-bg:hover {
		background-color: #ffffff;
		color: $atc_purple;
	}
	.atc-button.dark-bg:active {
	}
}

@mixin white-button {
	a.atc-button {
		background-color: transparent;
		border:2px solid $atc_white;
		color: $atc_white;
	}
	a.atc-button:hover {
		background-color: $atc_white;
		color: $atc_lightBlue;
	}

	a.atc-button.inactive {
		background-color: $atc_white;
		color: $atc_lightBlue;
	}


}
@mixin white-button-on-orange {
	a.atc-button {
		background-color: transparent;
		border:2px solid $atc_white;
		color: $atc_white;
	}
	a.atc-button:hover {
		background-color: $atc_white;
		color: $atc_orange;
	}

	a.atc-button.inactive {
		background-color: $atc_white;
		color: $atc_lightBlue;
	}


}
@mixin blue-button {
	a.atc-button {
		background-color: transparent;
		border:2px solid $atc_lightBlue;
		color: $atc_lightBlue;
	}
	a.atc-button:hover {
		background-color: $atc_lightBlue;
		color: #ffffff;
	}

	a.atc-button:active {
	}
	a.atc-button.inactive {
		background-color: $atc_lightBlue;
		color: #ffffff;
	}

	/* for dark background */
	.atc-button.dark-bg{
		background-color: transparent;
		border:2px solid #ffffff;
		color: #ffffff;
	}
	.atc-button.dark-bg:hover {
		background-color: #ffffff;
		color: $atc_lightBlue;
	}
	.atc-button.dark-bg:active {
	}
}

/* Horizontal Rule / Divider Line
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  border-top: 1px solid #cccccc;
  margin-bottom: 30px;
}

/* Drop Shadow Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.drop-shadow{
-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.module{

	.generic,.caption{

		ul ul,
		ul ol,
		ol ol,
		ol ul {
		  margin: 0; }
		ul{
			list-style-type:none;
			padding-left:0;
			margin-left:5px;
			li{
			padding-left:30px;
				&::before {
					content: "\2022";
					display: inline-block;
					width: 35px;
					margin-left: -35px; 
				}
			}       
		}
		li {
		//  margin-bottom: 16px;
		}

		/* Tables
		–––––––––––––––––––––––––––––––––––––––––––––––––– */
		th,
		td {
		  padding: 16px 16px;
		  text-align: left;
		  border-bottom: 1px solid #CCCCCC; }
		th:first-child,
		td:first-child {
		  padding-left: 0; }
		th:last-child,
		td:last-child {
		  padding-right: 0; }

		/* Forms
		–––––––––––––––––––––––––––––––––––––––––––––––––– */
		input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="text"],
		input[type="tel"],
		input[type="url"],
		input[type="password"],
		textarea,
		select {
		  height: 38px;
		  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
		  background-color: #fff;
		  border: 1px solid #CCCCCC;
		  border-radius: 2px;
		  box-shadow: none;
		  box-sizing: border-box; }
		/* Removes awkward default styles on some inputs for iOS */
		input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="text"],
		input[type="tel"],
		input[type="url"],
		input[type="password"],
		textarea {
		  -webkit-appearance: none;
			 -moz-appearance: none;
				  appearance: none; }
		textarea {
		  min-height: 65px;
		  padding-top: 6px;
		  padding-bottom: 6px; }
		input[type="email"]:focus,
		input[type="number"]:focus,
		input[type="search"]:focus,
		input[type="text"]:focus,
		input[type="tel"]:focus,
		input[type="url"]:focus,
		input[type="password"]:focus,
		textarea:focus,
		select:focus {
		  border: 1px solid $atc_purple;
		  outline: 0; }
		label,
		legend {
		  display: block;
		  margin-bottom: 16px;
		  font-weight: 500; }
		fieldset {
		  padding: 0;
		  border-width: 0; }
		input[type="checkbox"],
		input[type="radio"] {
		  display: inline; }
		label > .label-body {
		  display: inline-block;
		  margin-left: 16px;
		  font-weight: normal; }
	
	}
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
	color: #CCC; }
	.mfp-preloader a:hover {
	  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
	opacity: 1; }
  .mfp-close:active {
	top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
	margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
	opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 35px;
	margin-left: 35px;
	border: medium inset transparent; }
  .mfp-arrow:after {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px; }
  .mfp-arrow:before {
	border-top-width: 21px;
	border-bottom-width: 21px;
	opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
	border-right: 17px solid #FFF;
	margin-left: 31px; }
  .mfp-arrow-left:before {
	margin-left: 25px;
	border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
	border-left: 17px solid #FFF;
	margin-left: 39px; }
  .mfp-arrow-right:before {
	border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
	top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444; }
  .mfp-figure small {
	color: #BDBDBD;
	display: block;
	font-size: 12px;
	line-height: 14px; }
  .mfp-figure figure {
	margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
	   * Remove all paddings around the image on small screen
	   */
  .mfp-img-mobile .mfp-image-holder {
	padding-left: 0;
	padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
	padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
	top: 0;
	bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
	display: inline;
	margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
	background: rgba(0, 0, 0, 0.6);
	bottom: 0;
	margin: 0;
	top: auto;
	padding: 3px 5px;
	position: fixed;
	box-sizing: border-box; }
	.mfp-img-mobile .mfp-bottom-bar:empty {
	  padding: 0; }
  .mfp-img-mobile .mfp-counter {
	right: 5px;
	top: 3px; }
  .mfp-img-mobile .mfp-close {
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	text-align: center;
	padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
	-webkit-transform: scale(0.75);
	transform: scale(0.75); }
  .mfp-arrow-left {
	-webkit-transform-origin: 0;
	transform-origin: 0; }
  .mfp-arrow-right {
	-webkit-transform-origin: 100%;
	transform-origin: 100%; }
  .mfp-container {
	padding-left: 6px;
	padding-right: 6px; } }



.gform_wrapper{
  .gform_heading{

	h3{
	  font-size:24px !important;
	  line-height:36px;
	  font-family:'sans_bold';
	  margin-left:0 !important;
	  margin-right:0 !important;
	  margin-top: 0px !important;
	  margin-bottom: 30px !important;
	  font-weight:500 !important;
	}
  }
	.gfield_label{
		text-spacing:1px;
		font-size:14px;
		line-height:18px;
		font-weight:normal !important;
		color: $atc_darkGray;
		display:none !important;
	}
	.ginput_container{
		input,textarea{
		  padding-left:20px !important;
		  padding-right:20px !important;
			border:solid 1px $atc_lightGray;
			border-radius:6px;
			outline: none;
			&::placeholder {
			  color: $atc_darkGray;
			}
			:-ms-input-placeholder {
			  color: $atc_darkGray;
			}
			::-ms-input-placeholder {
			  color: $atc_darkGray;
			}            
		}
		label{
			display:none !important;
		}
	}
  @media #{$bp-tab} {
	  .ginput_container{
		  input,textarea{
			&.small,&.medium{
			  width:100% !important;
			}
	  }
	} 
  }
	.gform_button{
		outline:0 !important;
	}

.gform_button {
  background-color: transparent;
  border-radius: 20px;
  border:2px solid $atc_purple;
  display:inline-block;
  cursor:pointer;
  color: $atc_purple;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding:10px 20px;
  text-decoration:none;
  width:auto !important;
}
.gform_button:hover {
  background-color: $atc_purple;
  color: #ffffff;
}

.gform_button:active {
  position:relative;
  top:1px;
}


}
.end-of-content{
  width:100%;
  height:10px;
  background-color:blue;
  z-index:100000;
}


.single-post{
	.entry-content.block-generic_content.module{
		.col-lg-12{
			margin-bottom:100px;
			text-align:center;
			.gc-wrap.one{
				display:inline-block;
				.gc-content{
					text-align:left;
					img{
						margin-bottom:30px;
						height:auto;
					}
					header{
						margin-top:70px;
						h1{

						}
						.leader-wrap{
							margin-bottom:10px;
							span{
								display:inline-block;
								font-family:'sans_bold';
								font-size:16px;
								line-height:24px;
								color:$atc_purple;
								margin-right:20px;
							}
							.date{
								font-family:'sans';
								font-size:16px;
								line-height:24px;
								color:$atc_medGray;
								display:inline-block;

							}
						}
					}
				}
			}
		}
	}
}

