@font-face {
  font-family: 'sans';
  src: url('fonts/OpenSans/OpenSans-Regular.eot');
  src: url('fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
     url('fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
     url('fonts/OpenSans/OpenSansRegular.woff') format('woff'),
     url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_lightitalic';
  src: url('fonts/OpenSans/OpenSans-LightItalic.eot');
  src: url('fonts/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
     url('fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2'),
     url('fonts/OpenSans/OpenSansLightItalic.woff') format('woff'),
     url('fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_light';
  src: url('fonts/OpenSans/OpenSans-Light.eot');
  src: url('fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
     url('fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
     url('fonts/OpenSans/OpenSansLight.woff') format('woff'),
     url('fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_italic';
  src: url('fonts/OpenSans/OpenSans-Italic.eot');
  src: url('fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
     url('fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
     url('fonts/OpenSans/OpenSansItalic.woff') format('woff'),
     url('fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_bold';
  src: url('fonts/OpenSans/OpenSans-Bold.eot');
  src: url('fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
     url('fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
     url('fonts/OpenSans/OpenSansBold.woff') format('woff'),
     url('fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans_bolditalic';
  src: url('fonts/OpenSans/OpenSans-BoldItalic.eot');
  src: url('fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
     url('fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
     url('fonts/OpenSans/OpenSansBoldItalic.woff') format('woff'),
     url('fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  font-family: 'sans';
  i{
    font-family: 'sans_italic';
    b{
      font-family: 'sans_bolditalic';
    }
  }
}

// Copy & Lists 
p {
}

ul li,
ol li {
  font-family:'sans';
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:hover, &:active, &:focus, &:visited {
    color: inherit;
  }
}
// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}
