
// Colors
$atc_white: #ffffff;
$atc_yellow:yellow;
$atc_blue:blue;
$atc_lightBlue: #3FA7F3;
$atc_orange: #F36A10;

$atc_purple : #222096;
$atc_primary : #3FA7F3;
$atc_lightGray: #CCCCCC;
$atc_darkGray: #333333;
$atc_gray: #707070;
$atc_medGray:#999999;

// Layout

$block-padding: 2rem;
$element-spacing: 1rem;


// Media Queries
$mobile : '375px';
$tab-sm : '659px';
$tab : '859px';
$desk : '1259px';

$bp-mobile:	"only screen and (max-width: 375px)";
$bp-tab-sm: "only screen and (max-width: 659px)";
$bp-tab-sm-min: "only screen and (min-width: 659px)";
$bp-tab:	"only screen and (max-width: 859px)";
$bp-tab-min: "only screen and (min-width: 860px)";
$bp-desk:	"only screen and (max-width: " $desk ")";
$bp-desk-min:	"only screen and (min-width: " $desk ")";
$bp-desk-lg: "only screen and (max-width: 1259px)";
$bp-mobile-padding: "only screen and (max-width: 1240px)"; // $bp-desk-lg + mobile side padding

@mixin ulReset(){
	list-style-type:none;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;		
}
@mixin pReset(){
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}