.block-callout {
	.row{
		.drop-shadow{
			margin-bottom:30px;
			//background-color:yellow;
			display:inline-block;
			width:100%;
			div{
				float:left;
				text-align:left;
//				padding:40px;
				a{
					font-family:'sans_bold';
					font-size:24px;
					display:inline-block;
					width:100%;
					height:100%;
					padding:40px;
					text-decoration:none;
					&:active,&:hover,&:visited{
						text-decoration:none;
					}
					img{
						float:right;
					}
				}
				&.border{
					border-right:solid 1px $atc_lightGray;
				}
			}
			.single{
				width:100%;

			}
			.double{
				width:50%;
			}
			.triple{
				width:calc(100% / 3);
			}
			@media #{$bp-desk}{
				.single,.double,.triple{
					width:100%;
					&.border{
						border-right:0;
					}
				}
				.double,.triple{
					border-top:solid 1px $atc_lightGray;					
				}
				.single, .double.first,.triple.first{
					border-top:0;
				}
			}

		}
	}
}