$header-height-desk: 700px;
.has-parent-header{
	.block-header{
		box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-webkit-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-moz-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
	}
	.block-halfhalf {
		margin-bottom:0;
	}
}
.block-halfhalf {
	position: relative;
	line-height:0;
	.layout-content{
	}
	.slides-block-image{
		width:100%;	
		object-fit:cover;
		margin: 0 auto;
	}
	.slides-section{
		.feature-wrapper{
			background-color:$atc_white;
			height:100%;
		}
	}
	.slick-slider{
		display:inline-block;
		position: relative;
		width:50%;
		height:100%;
		overflow:hidden;
		&.image-left{
			float:left;
		}
		.slick-list{
			height:100%;
			.slick-track{
				.slick-slide{
					.caption-inner-wrapper{
						max-width:570px;
					}
				}
			}
		}

	}
	.slick-slide{
		overflow:hidden;
		text-align:center;
	}
	.slick-current{
		//background-color:red;
	}
	.slick-prev:before{
		content: url('/wp-content/themes/pilot/mason-modules/halfhalf/img/Arrow-Left.svg');
	}
	.slick-next:before{
		content: url('/wp-content/themes/pilot/mason-modules/halfhalf/img/Arrow-Right.svg');
	}
	#html5-watermark{
		display:none !important;
	}
	.caption-wrapper{
		line-height:1;
		display:inline-block;
		float:left;
		width:50%;
		height:100%;
		&.image-right{
			@media only screen and (max-width: 1200px) {
				padding-left:30px;
			}
			@media only screen and (max-width: 859px) {
				padding-left:0px;
			}
		}
		&.dark{
			background-color:$atc_purple;
			color:$atc_white;
			h1,h2,h3,h4,h5,h6,p{
				color:$atc_white;
			}

		}
		&.white{
			background-color:$atc_white;
			color:$atc_darkGray;
			h1,h2,h3,h4,h5,h6,p{
				color:$atc_darkGray;
			}
			@include blue-button
		}
		&.blue{
			background-color:$atc_lightBlue;
			color:$atc_white;
			h1,h2,h3,h4,h5,h6,p{
				color:$atc_white;
			}
			@include white-button
			ul{
				li{
					&::before {
						color: $atc_white;
					}
				}       
			}
			a:link, a:visited,a:hover, a:active{
			  color: $atc_white;
			}

		}
		&.orange{
			background-color:$atc_primary;
			color:$atc_white;
			h1,h2,h3,h4,h5,h6,p{
				color:$atc_white;
			}
			@include white-button-on-orange
			ul{
				li{
					&::before {
						color: $atc_white;
					}
				}       
			}
			a:link, a:visited,a:hover, a:active{
			  color: $atc_white;
			}
		}
		li{
			margin-bottom:10px;
		}
		.slick-caption{
			max-width:600px;
			float:right;
		}
				.video-btn{
					font-size:18px;
					font-weight:bold;
					color:$atc_primary;
					text-decoration:none;
					border-radius: 7.5px;
					margin-left:30px;
					&:hover {

					}
					svg{
						height:40px;
						width:40px;
					}
				}


		.nav-wrapper-holder{
			width:100%;
			max-width:600px;
			height:200px;
		}
		.nav-wrapper, .nav-wrapper-mobile{
			z-index:99;
			.slick-next, .slick-prev{
				z-index:9999;
				position:relative;
				opacity:1 !important;
				&::before{
					opacity:1 !important;
				}
				&:hover{
					opacity:1 !important;
					&::before{
						opacity:1 !important;
					}
				}
			}
			.slick-prev{
				//margin-left:30px;
				display:inline-block !important;
			}
			.slick-next{
				display:inline-block !important;
				margin-left:40px;
			}
		}
		.nav-wrapper-wrapper{
			height:30px;
			position:absolute;
			bottom:0;
			left:0;
			width:50%;
//			background-color:red;
			padding-left:100px;

			padding-right:30px;
			.nav-wrapper-inner{
				float:right;
				width:100%;
				.nav-wrapper{
					height:100%;
					float:left;
					.slick-next, .slick-prev{
						z-index:99;
						position:relative;
					}
					.slick-prev{
						display:inline-block !important;
						width:auto;
					}
					.slick-next{
						display:inline-block !important;
						width:auto;
						margin-left:0;
						right:auto;
					}
				}
			}
		}
		.nav-wrapper-mobile{
			display:none;
		}

		&.image-left{
			float:left;
			.slick-caption{
				float:left;
			}
			.nav-wrapper-wrapper{
				.nav-wrapper-inner{
					width:100%;
					.nav-wrapper{
						width:auto;
						float:right;
					}
				}
			}
			.caption-inner-wrapper{
				float:right;
				max-width:500px;
				width:100%;
				@media #{$bp-desk} {
					//.caption{
						padding-left:30px;
						padding-right:30px;
					//}
				}
				@media #{$bp-tab} {
					padding-left:100px;
				}
				@media #{$bp-tab-sm} {
					//.caption{
						padding-right:20px;
						padding-left:20px;
					//}
				}
			}
		}
		&.image-right{
			.caption{
				float:right;
			}
			.nav-wrapper-wrapper{
				right:0 !important;
				left:auto;
				padding-left:30px;
			}
		}

		.caption-inner-wrapper{
			padding-top:100px;
			padding-bottom:100px;
			.content{
				padding-bottom:40px;
				max-width:500px;
				@media #{$bp-desk} {
					max-width:600px;
				}

			}

		}
		&.image-left{
			.caption{
				padding-left:0;
				padding-right:0;
				@media #{$bp-tab} {
					padding-left:0;
					padding-right:0;
					.caption-inner-wrapper{
						padding-left:0;
						padding-right:0;
						width:100%;
					}
				}
				@media #{$bp-tab-sm} {
					//padding-left:20px;
					//padding-right:20px;
				}				
			}


			.caption-inner-wrapper{
				.content{
					max-width:570px;
				}

			}

		}
		.slick-caption{
			width:100%;
		}

		.caption{
			outline: 0 !important;
			text-align:left;
			max-width:600px;
			@media #{$bp-tab} {
				max-width:630px;
			}
			height:100%;
			width:100%;
			//padding-left:30px;
			padding-right:50px;
			overflow:visible;
			display:inline-block;
			a:hover{
				cursor:pointer;
				text-decoration:none;
			}
			&.slick-current{
				color:black;
			}
		}
	}

	.parent-header{
		display:flex;
		.interior-container{
			h6{
				a, a:visited, a:hover{
					color:#999999;
					text-decoration:none;
					margin-right:15px;
				}
				a.active{
					margin-left:15px;

					text-decoration:underline;
				}
			}
		}
	}
	.layout-content {
		//line-height:normal;
		display:inline-block;
		width: 100%;
		background-color:white;
	}
	.bg-image {

		margin: 0px auto;

		width: 100%;
		background-size: cover;
		background-position:  center;
		overflow: hidden;
		.video {
			// should cover entire element
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			width: 100%;
		}
		.img-overlay {
			position: absolute;
			top: 0;
		 	margin: 0px auto;
			height: calc( #{$header-height-desk} );
			width: 100%;
			max-width:1220px;

		}
	}
	@media only screen and (max-width: $tab) {
		position: relative;
		.slides-section{
			.feature-wrapper{
				height:auto;
			}
		}
		.slick-slider{
			//height:50vh;
			height:auto;
			width:100%;
		}
		.slides-block-image{
			width:100%;	
			object-fit:cover;
			margin: 0 auto;
		}
		.slides-section{
			.feature-wrapper{
				> .slick-slider{
					width:100%;
					.slick-slide{
						overflow:hidden;
						text-align:center;
					}

				}

			}
		}
		.caption.slick-slide{
//			width:100% !important;
			float:left;
		}

		.caption-wrapper.image-left,
		.caption-wrapper.image-right,
		.caption-wrapper{
			float:left;
			text-align:left;
			.caption-inner-wrapper,.slick-caption{
				float:left;
			}
			@media #{$bp-tab-sm} {
				padding-left:20px;
			}
			@media #{$bp-tab} {
				text-align:center;
			}
		}
		.caption-wrapper{
			background-color:$atc_white;
			display:inline-block !important;
			.slick-slider{
				display:inline-block;
				position: relative;
				width:50%;
			}
			.slick-slide{
				overflow:hidden;
				height:auto !important;
				text-align:center;
			}
			display:block;
			float:none;
			width:100%;
			.nav-wrapper-mobile-wrapper{
				width:100%;
				display:inline-block;

				.nav-wrapper-mobile{
					display:inline-block;
					padding-right:30px;
					float:right;
					height:60px !important;
					.slick-prev{
						margin:0 !important;
						left:-40px;
					}
					.slick-next{
						margin:0 !important;
						right:0;						
					}
				}
			}
			.nav-wrapper-holder{
				display:none;
			}
			.nav-wrapper{
				margin-bottom:45px;
			//	margin-top:-30px;
				z-index:99;
				width:100%;
				position:relative;
				bottom:0;

				padding-left:30px;
				.slick-next, .slick-prev{
					z-index:9999;
				}
				.slick-prev{
					display:inline-block !important;
					left:auto;
				}
				.slick-next{
					display:inline-block !important;
					right:auto;
				}
			}
			.slick-caption{
				width:100%;
			}
			.caption{
				outline: 0 !important;
				text-align:left;
				height:80%;
				float:none !important;

				@media #{$bp-tab} {
					padding-left:0;
					padding-right:0;
					max-width:630px;
					.caption-inner-wrapper{
						padding-left:0;
						padding-right:0;
						width:100%;
					}
				}
				@media #{$bp-tab-sm} {
					//padding-left:20px;
				//	padding-right:20px;
					.caption-inner-wrapper{
				//		padding-left:0;
				//		padding-right:0;
				//		width:100%;
					}
				}
				a:hover{
					cursor:pointer;
					text-decoration:none;
				}
				.content{
				}
			}
		}
	}
	@media #{$bp-tab} {
		.caption-wrapper{
			position:relative;
			display:inline-block;
			text-align:center;
			.caption-inner-wrapper{
				padding-top:60px;
				padding-bottom:60px;
			}
			.nav-wrapper-wrapper{
				top:-37px;
				left:0 !important;
				padding-left:30px !important;
				.nav-wrapper-inner{
					float:none;
					.nav-wrapper{
						text-align:left;
						padding-left:0;
						float:left !important;
						.slick-prev{
							margin-left:0;
						}
					}
				}
			}
			.slick-caption{
				float:none !important;
				margin:0 auto;
				display:inline-block;
				.caption{
					width:100%;
					display:inline-block;
					padding-top:0 !important;
					padding-bottom:0 !important;
					.content{
						font-size: 16px;
						line-height: 24px;
						margin-bottom: 16px;
					}
				}
			}
		}
	}
}