.block-blog{
	.row.load-container{
		padding-top:100px;
		padding-bottom:60px;
	}
	.row.blog-container{
		.col-lg-12{
			padding-top:30px;
			padding-bottom:60px;
			display:flex;
			@media #{$bp-tab-sm} {
				display:inline-block;
				width:100%;
			}			
			.img-block-wrap{
				vertical-align:top;
				max-width:360px;
				width:100%;
				height:100%;
				img{
					width:100%;
					height:auto;
				}
			}
			.title-wrap{
				.caption{
					margin-bottom:15px;
				}
				vertical-align:top;
				display:inline-block;
				margin-left:60px;
				text-align:left;
				color:#999999;
			}
			@media #{$bp-tab-sm} {
				.img-block-wrap{
					display:block;
					clear:both;
					max-width:100% !important;
					img{
						width:100%;
						margin-bottom:20px;
					}
				}
				.title-wrap{
					margin-left:0;
					clear:both;
					clear:left;
					display:block;
					width:100% !important;
				}
			}

			//border-top:solid 1px $atc_lightGray;
			&:nth-child(1){
				border-top:0;
			}
			&.hr{
				padding-top:0;
				padding-bottom:0;
			//	margin-left:30px;
			//	margin-right:30px;
				hr{
					width:100%;
				}
			}
		}

	}
}