.block-form {
	.container-form.container-fluid.container-lg{
		@media #{$bp-tab}{
			padding-left:15px !important;
			padding-right:15px !important;
		}
		@media #{$bp-mobile}{
			padding-left:30px !important;
			padding-right:30px !important;
		}
		@media #{$bp-desk-min}{
			max-width:1200px;
			padding-left:45px !important;
			padding-right:45px !important;
		}
	}
	.form-container{
		max-width:800px;
	}
}
.block-form{
	@media #{$bp-desk} {
	}
	@media #{$bp-tab} {
	}
}